@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); /* FOOTER & LIST */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); /* 'p' & h3 tags */
@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap'); /* h2 &h1 tags */


body{
    padding: 0;
    margin: 0;
    background-color: #37432d;
}

*{
    box-sizing: border-box;
}

main{
    border: 2px solid #252e1f ;
    padding: 10px;
    margin: 20px 10px 20px 10px;
    border-radius: 20px;
    background-color: #43602c80;
    display: grid;
    grid-template-areas: "h"
                         "ar"
                         "f"
                         "m";
    color: white;
}

article p{
    font-family: 'Patrick Hand';
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

article h1{
    font-family: 'Turret Road';
    text-align: center;
}

article img{
    border: 1px solid #252e1f;
    border-radius: 10px;
}

nav ul li{
    list-style-type: none;
    font-family: 'Shadows Into Light';
}

nav a{
    color: rgb(0, 132, 255);
    
}

nav a:visited{
    color: rgb(255, 0, 0);
}

nav a:active{
    color: gray;
}
nav a:hover{
    color: aqua;
}
h2{
    font-family: 'Turret Road';
}
header{
    grid-area: h;
    text-align: center;
}
nav {
    grid-area: m;
}
nav ul{
    grid-area: fels;
}
article{
    grid-area: ar;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    text-align: center;
}
footer{
    grid-area: f;
    margin-top: 10px;
    font-family: 'Shadow Into Light';
    text-align: center;
}

article img{
    width:70%
}

.grid{
    border-left: 1px solid #252e1f;
    border-right: 1px solid #252e1f;
}

body::-webkit-scrollbar-track
{
	border-radius: 5px;
    max-height: 10%;
}

body::-webkit-scrollbar
{
	width: 7px;
    background: none;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #678c4a;

}

@media screen and (max-width:500px) {
    article{
        grid-template-columns: 1fr;
        display: grid;
    }
}

@media screen and (max-width:400px) {
    article{
        grid-template-columns: 1fr;
        display: grid;
    }
    


}